* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

h1 {
  margin: 20px 0;
}
.tbl_01 td,
.tbl_01 th {
  border: 1px solid #ccc;
  padding: 10px;
}
.box {
  margin-bottom: 50px;
}

.tbl_01 th {
  background-color: #efefef;
}

.tbl_02 td,
.tbl_02 th {
  border: 1px solid #ccc;
  padding: 10px;
}

.tbl_02 tr:nth-child(odd) {
  background-color: #efefef;
}
.tbl_03 td,
.tbl_03 th {
  border: 1px solid #ccc;
  padding: 10px;
}

.tbl_04 th,
.tbl_04 td {
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px;
  text-align: center;
}
.tbl_04 td:last-child,
.tbl_04 th:last-child {
  border-right: none;
}

.tbl_05 th,
.tbl_05 td {
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px;
  text-align: center;
}
.tbl_05 td:last-child,
.tbl_05 th:last-child {
  border-right: none;
}

.tbl_06 th,
.tbl_06 td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* 달력 */
.cal {
  width: 360px;
  font-size: 12px;
  color: #333;
}
.cal td,
.cal th {
  border: 1px solid #efefef;
  padding: 12px;
}
.cal th {
  background-color: #f79ed9;
  color: #111;
  border-top: 2px solid rgb(234, 187, 240);
}

.cal td {
  text-align: right;
  cursor: pointer;
}

.cal td:hover {
  background-color: #efefef;
}
.cal td:last-child,
.cal th:last-child {
  color: #1b9cfc;
}

.cal td:first-child,
.cal th:first-child {
  color: #f03232;
}

.cal .red {
  color: #f03232;
  font-weight: bold;
}

/* 테이블 7 */
.tbl_07 th,
.tbl_07 td {
  border: 1px solid #ccc;
  padding: 10px;
}

.tbl_07 th {
  background-color: #efefef;
}

.tbl_07 td:nth-child(2) {
  text-align: center;
}
